#root {
  text-align: center;
  align-items: center;
  display: flex;
  width: 100vw;
  height: 100vh;
}

body {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  display: flex;
  align-content:center;
}

.manager-container {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.panel {
  width: 90vw;
  height: 70vh;
  border-color: wheat;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
  flex-direction: column;
  display: flex;
  align-items: center;
  padding: 10px;
}

.manager-interface {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.manager-interface>* {
  width: 100%;
  padding: 10px;
  background-color: rgb(67, 67, 67);
  margin: 10px;
  margin-top: 0px;
}
.top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.search {
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.search h3 {
  margin: 0px;
  margin-bottom: 2px;
}
.search textarea {
  resize: none;
  height: 1.2em;
  margin-bottom: 2px;
}


